.footer {
text-align:center;
border-top:1px solid #eee;
padding-top:40px;
padding-bottom:15px;
margin-top:15px;
margin-bottom:15px;
}

.footer a {
margin:10px;
text-decoration:none;
color:#999
}

body { padding-top: 70px; }